@font-face {
    font-family: 'BRoya';
    src: url('fonts/BRoya.eot?#') format('eot'), /* IE6–8 */
    url('fonts/BRoya.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/BRoya.ttf') format('truetype');
    /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
input,
p,
table,
tr,
td,
th,
button,
div,
.btn,
ul,
li,
label {
    font-family: 'BRoya', sans-serif;
    font-size: 20px;
    text-align: right;
}

.app .app-widget-tile .title,
.app .app-widget-tile .subtitle {
    font-size: 15px;
}

.form-horizontal .control-label {
    text-align: right;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 6px;
    }
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    float: right;
}

.app-navigation.app-navigation-style-default nav > ul > li a,
.app-navigation.app-navigation-style-default nav > ul > li.title {
    font-family: 'BRoya', sans-serif;
    font-size: 15px;
}

.form-control,
.control-label,
.intval,
.title {
    font-family: 'BRoya', sans-serif;
    font-size: 20px;
}

/*------------ radio button*/

@keyframes ripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
    }

    50% {
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    100% {
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
    }
}

.md-radio {
    margin: 16px 0;
    float: right;
}

    .md-radio.md-radio-inline {
        display: inline-block;
    }

    .md-radio input[type="radio"] {
        display: none;
    }

        .md-radio input[type="radio"]:checked + label:before {
            border-color: #337ab7;
            animation: ripple 0.2s linear forwards;
        }

        .md-radio input[type="radio"]:checked + label:after {
            transform: scale(1);
        }

    .md-radio label {
        display: inline-block;
        height: 20px;
        position: relative;
        padding: 0 30px;
        /*padding: 30px 30px 0 7px;*/
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;
    }

        .md-radio label:before, .md-radio label:after {
            position: absolute;
            content: '';
            border-radius: 50%;
            transition: all .3s ease;
            transition-property: transform, border-color;
        }

        .md-radio label:before {
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border: 2px solid rgba(0, 0, 0, 0.54);
        }

        .md-radio label:after {
            top: 5px;
            left: 5px;
            width: 10px;
            height: 10px;
            transform: scale(0);
            background: #337ab7;
        }

*, *:before, *:after {
    box-sizing: border-box;
}

/*------------end radio button*/

.text-black {
    color: black;
}

.survey-app {
    direction: rtl;
    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

.survey {
    margin: 35px 85px;
    padding: 50px;
    width: 85%;
    min-height: 500px;
    position: relative;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.41);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.41);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
.survey-head {
    position: relative;
    margin: 10px;
    top: -50px;
}

    .survey-head h2 {
        font-size: 1.4em;
        font-weight: bold;
    }

    .survey-head p {
    }

.survey-body {
}

.survey-number {
    font-size: 1.75em;
}
@media (min-width: 768px) {
    .survey {
        margin: 35px 85px !important;
        padding: 50px !important;
        width: 85% !important;
        min-height: 500px;
    }
    .md-radio {
        margin: 10px 0 45px 0 !important;
    }
}

@media (min-width: 320px) {
    .survey {
        width: 100%;
        margin: auto;
        padding: 20px 5px 5px 5px;
    }
    h1,h3, p {
        font-size: 25px;
    }
    .md-radio {
        margin: 60px 0 70px 0;
    }
}

.app.app-rtl {
    direction: rtl;
}

.app-login-box-footer {
    font-size: 0.8em;
}


.form-group > h3 {
    line-height: 30px;
}
.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}