
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="panel panel-success">
    <div class="panel-heading">
        پایان
    </div>
    <div class="panel-body">
        <h1 class="text-center text-black">ممنون از اینکه وقتتون را برای ما صرف کردید.</h1>
    </div>
</div>

