@{
    ViewBag.Title = "صفحه اصلی";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        ورود کاربر 
    </div>
    <div class="panel-footer">
        <a href="@Url.Action("Login","Admin")">ورود کاربر</a>
    </div>
</div>