@model Survey.Core.Entities.TBL_Respondents
@{
    ViewBag.Title = "صفحه اصلی";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@using (Html.BeginForm("RegisterRespondent", "Home", new { survey = ViewBag.PTitle }, FormMethod.Post, new { @class = "form-horizontal text-maroon-500 text-right" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-bloody-200" })

    <div class="form-group">
        <label for="Email" class="col-sm-2 label control-label text-black">ایمیل</label>
        <div class="col-sm-9">
            <input type="email" class=" form-control" id="Email" name="Email" placeholder="info@yourEmail.com" required />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 label control-label text-black">سن</label>
        <div class="col-sm-9">
            <div class="pull-right">
                <div class="md-radio md-radio-inline">
                    <input id="age1" type="radio" name="Age" value="25-30">
                    <label for="age1">25-30</label>
                </div>
                <div class="md-radio md-radio-inline">
                    <input id="age2" type="radio" name="Age" value="30-35">
                    <label for="age2">30-35</label>
                </div>
                <div class="md-radio md-radio-inline">
                    <input id="age3" type="radio" name="Age" value="35-40">
                    <label for="age3">35-40</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 label control-label text-black">جنسیت</label>
        <div class="col-sm-9">
            <div class="pull-right">
                <div class="md-radio md-radio-inline">
                    <input id="gender1" type="radio" name="Gender" value="0">
                    <label for="gender1">مرد</label>
                </div>
                <div class="md-radio md-radio-inline">
                    <input id="gender2" type="radio" name="Gender" value="1">
                    <label for="gender2">زن</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 label control-label text-black">میزان تحصیلات</label>
        <div class="col-sm-9">
            <div class="pull-right">
                <div class="md-radio md-radio-inline">
                    <input id="degree1" type="radio" name="Degree" value="کاردانی">
                    <label for="degree1">کاردانی</label>
                </div>
                <div class="md-radio md-radio-inline">
                    <input id="degree2" type="radio" name="Degree" value="کارشناسی">
                    <label for="degree2">کارشناسی</label>
                </div>
                <div class="md-radio md-radio-inline">
                    <input id="degree3" type="radio" name="Degree" value="کارشناسی ارشد">
                    <label for="degree3">کارشناسی ارشد</label>
                </div>
                <div class="md-radio md-radio-inline">
                    <input id="degree4" type="radio" name="Degree" value="دکتری">
                    <label for="degree4">دکتری</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="DurationMarried" class="col-sm-2 label control-label text-black">مدت ازدواج</label>
        <div class="col-sm-9">
            <input type="text" class=" form-control" id="DurationMarried" name="DurationMarried" placeholder="نمونه: 3 سال" required />
        </div>
    </div>
    <div class="form-group">
        <label for="Major" class="col-sm-2 label control-label text-black">رشته تحصیلی</label>
        <div class="col-sm-9">
            <input type="text" class=" form-control" id="Major" name="Major" placeholder="نمونه: مهندسی نرم افزار یا علوم کامپیوتر" required />
        </div>
    </div>

    <input type="submit" class="btn btn-block btn-info" value="شروع آزمون" />
}