<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>E:\Project-Work\Survey\Survey.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SurveyEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=Survey;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Survey.Core.Entities.SurveyEntities, Survey.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Survey.Infrastructure.Database.ContextDb" Order="2" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=Survey;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Survey.Infrastructure.Database.ContextDb, Survey.Infrastructure" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Survey" Order="3" Enabled="True">
          <Destination Path="Data Source=.;Initial Catalog=Survey;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;AttachDbFilename=|DataDirectory|\Survey.mdf;Initial Catalog=Survey;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Survey_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;AttachDbFilename=|DataDirectory|\Survey.mdf;Initial Catalog=Survey;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Survey-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=Survey;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Survey.Infrastructure.Database.ContextDb-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=Survey;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Survey.Infrastructure.Database.ContextDb-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=Survey;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SurveyEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Entities.Survey.csdl|res://*/Entities.Survey.ssdl|res://*/Entities.Survey.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=Survey;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Survey.Infrastructure.Database.ContextDb" />
  </ItemGroup>
</Project>